<input ng-model="vm.spotifySearch" placeholder="Search All" type="text">
<button name="button" ng-click='vm.searchAll(vm.spotifySearch)'>SEARCH ALL</button>

<br>
<button ng-click="vm.newPlaylist()">New PLaylist</button>
<button ng-click="vm.twitterfetch()">Fetch Tweets</button>

</br>

<p>Hello !</p>
<div ng-if="trackID[0] !== 'hello'">
<iframe allowtransparency='true' frameborder='0' height='380' src="{{vm.trackID[0]}}" width='300'></iframe>
</div>


<div class="row">
  <div class="col ">
    <div class="card #212121 grey darken-4">
      <div class="card-content white-text">
        <span class="card-title">Card Title</span>

        <table class="responsive-table">
          <thead>
            <tr >
              <div class="row">
                <div class="col s3">
                  <p>Song Name</p>
                </div>
                <div class="col s3">
                  <p>Artist</p>
                </div>
                <div class="col s3">
                  <p>Album</p>
                </div>
                <div class="col s3">
                  <p>Score</p>
                </div>
              </div>
            </tr>
          </thead>

          <tbody>
            <tr ng-repeat="track in vm.tracks"  >
              <div ng-click="show = !show">
                <td>
                  {{track[0].name}}
                </td>
                <td>
                  {{track[0].album.name}}
                </td>
                <td>
                  {{track[0].artists[0].name}}
                </td>
                <td>
                  Score
                </td>
              </div>
              <div ng-show='show'>
                <td>
                  {{track[1].name}}
                </td>
                <td>
                  {{track[1].album.name}}
                </td>
                <td>
                  {{track[1].artists[0].name}}
                </td>
                <td>
                  Score
                </td>
              </div>
              <!-- <custom-popover popover-data="{{track}}"></custon-popover> -->
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
