<data ng-if='!vm.auth[0]' ng-init='vm.openauth()'></data>

<nav id="navbar-fixed">
  <div class="nav-wrapper #00e676 green accent-3">
    <a class="brand-logo" href="/#/"><img src="/images/logosm.png" alt="TwitList Logo" /></a>
    <ul class="right hide-on-med-and-down" id="nav-mobile">
      <li>
        <a class="cursor_pointer" ng-click="vm.newPlaylist()">New PLaylist</a>
      </li>
      <li>
        <a class="cursor_pointer" ng-click="vm.twitterfetch()">Fetch Tweets</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container" id="main-content">
  <div ng-if='vm.tracks.length < 2' class="center-align top_margin">
    <div ng-click="vm.twitterfetch()" class="waves-effect waves-light extralarge#424242 grey darken-3"><img src="/images/createPlaylistButton.png" alt="Create Playlist Button" /></div>
  </div>
  <div ng-if='vm.tracks.length > 1' class="main_scroll">
    <div class="row">
      <div class="col s12 ">
        <div class="card #212121 grey darken-4">
          <div class="card-content white-text">
            <div class="input-field">
              <div class="row valign-wrapper">
                <div class="col s5 valign">
                  <input id="track_search" ng-change="vm.searchSpotify(vm.searchString)" ng-model="vm.searchString" type="text">
                  <label for="track_search">Add Song</label>
                </div>
                <div class="col s1 valign">
                  <i class="fa fa-times cursor_pointer" ng-click='vm.clearSearch()'></i>
                </div>
              </div>
            </div>
            <div  class="row valign-wrapper" ng-if='vm.searchString'>
              <div class="col s6 push-s3 valign">
                <div class="card #212121 grey darken-4 content_scroll" id="searchReultContainer">
                  <div class="card-content" >
                    <ul class="collection" ng-repeat="result in vm.searchResults">
                      <li class="collection-item avatar fade #424242 grey darken-3">
                        <div class="row">
                          <div class="col s2">
                            <i class='material-icons cursor_pointer' ng-click="vm.addSong(result)">playlist_add</i>
                          </div>
                          <div class="col s3">
                            <img alt="{{result.name}}"  ng-src="{{result.album.images[2].url}}">
                          </div>
                          <div class="col s7">
                            <span class="title">{{result.name}}</span>
                            <ul ng-repeat='artist in result.artists'>
                              <li>{{artist.name}}</li>
                            </ul>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <br><br>
            <span class="card-title">Playlist</span>
            <table class="bordered">
              <thead>
                <tr>
                  <div class="row">
                    <div class="col s1">
                      <p>&nbsp</p>
                    </div>
                    <div class="col s4">
                      <p>Song Name</p>
                    </div>
                    <div class="col s2">
                      <p>Artist</p>
                    </div>
                    <div class="col s2">
                      <p>Album</p>
                    </div>
                    <div class="col s2">
                      <p>Score</p>
                    </div>
                    <div class="col s1 right-align">
                      <p>Remove</p>
                    </div>
                  </div>
                </tr>
              </thead>

              <tbody>
                <tr class='fade track-container' ng-repeat="track in vm.tracks">
                  <td>
                    <div class="row valign-wrapper">
                      <div class="col s1 valign">
                        <a ng-show='track.subtracks' class="btn-floating btn-small waves-effect waves-light #00e676 green accent-3" ng-click='show = !show'>
                          <i class='material-icons small'>list</i>
                        </a>
                          <p>&nbsp</p>
                      </div>
                      <div class="col s4 valign">
                        <a ng-model="showPause" class="btn-floating btn-small waves-effect waves-light #212121 grey darken-4" ng-click='vm.playTrack(track); showPause=!showPause'>
                          <i ng-show="!showPause" class='material-icons small'>play_circle_outline</i>
                          <i ng-show="showPause" class='material-icons small'>pause_circle_outline</i>
                        </a>
                        <p>{{track.name}}</p>
                      </div>
                      <div class="col s2 valign">
                        <p>{{track.artists}}</p>
                      </div>
                      <div class="col s2 valign">
                        <p>{{track.album}}</p>
                      </div>
                      <div class="col s2 valign">
                        {{track.score}}
                        <a class="btn-floating btn waves-effect waves-light #212121 grey darken-4" ng-click='vm.vote(track, 1)'>
                          <i class="fa fa-arrow-up"></i>
                        </a>
                        <a class="btn-floating btn waves-effect waves-light #212121 grey darken-4" ng-click='vm.vote(track, -1)'>
                          <i class="fa fa-arrow-down"></i>
                        </a>
                      </div>
                      <div class="col s1 valign right-align">
                        <a class="btn-floating btn waves-effect waves-light #212121 grey darken-4" ng-click='vm.removeSong(track)'>
                          <i class="fa fa-trash-o"></i>
                        </a>
                      </div>
                    </div>
                    <div ng-show='show'>
                      <div class="card">
                        <div class="card-content #424242 grey darken-3">
                          <table>
                            <thead>
                              <tr>
                                <td>&nbsp</td>
                                <td>Song Name</td>
                                <td>Artists</td>
                                <td>Album</td>
                              </tr>
                            </thead>

                            <tbody>
                              <tr class="row" ng-repeat='subtrack in track.subtracks'>
                                <td>
                                  <a class="btn-floating btn-small waves-effect waves-light #00e676 green accent-3" ng-click='vm.changeSong(track, subtrack)'>
                                    <i class='material-icons'>playlist_add</i>
                                  </a>
                                </td>
                                <td>
                                  <a ng-model="showPause" class="btn-floating btn-small waves-effect waves-light #212121 grey darken-4" ng-click='vm.playTrack(subtrack); showPause=!showPause'>
                                    <i ng-show="!showPause" class='material-icons small'>play_circle_outline</i>
                                    <i ng-show="showPause" class='material-icons small'>pause_circle_outline</i>
                                  </a>
                                  <p>
                                    {{subtrack.name}}
                                  </p>
                                </td>
                                <td>{{subtrack.artists}}</td>
                                <td>{{subtrack.album}}</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Structure -->
<div class="modal" id="modal1">
<div class="modal-content center-align #9e9e9e grey">

  <h4>Authorize Twitter and Spotify</h4>
  <p>Sign Into Spotify</p>
  <button class="waves-effect waves-light btn modal-trigger #00e676 green accent-3" ng-click='vm.spotifyAuth()'>
    Spotify
  </button>

  <p>Sign Into Twitter</p>
  <button class="waves-effect waves-light btn modal-trigger #00e676 green accent-3" ng-click='vm.twitterAuth()'>
    Twitter
  </button>
</div>
<div class="modal-footer">
  <a class=" modal-action modal-close waves-effect waves-green btn-flat" href="#!">Close</a>
</div>
</div>
