<table class="responsive-table">
  <thead>
    <tr >
      <div class="row">
          <th>Select</th>
          <th>Song Name</th>
          <th>Artist</th>
          <th>Album</th>
      </div>
    </tr>
  </thead>

  <tbody>
    <tr ng-repeat="track in track">
      <td>
        <input type="checkbox" id="{{track.id}}" />
      </td>
      <td>
        {{track.name}}
      </td>
      <td>
        {{track.album.name}}
      </td>
      <td>
        {{track.artists[0].name}}
      </td>
    </tr>
  </tbody>
</table>
