/* add custom styles */
body {
  background: RGBA(25, 25, 25, 1);
}

#navbar-fixed {
  top: 0;
  z-index: 100;
  width: 100%;
  position: fixed;
}
.search-width {
  width: 500px;
}
.search-padding{
  margin-left: 150px;
}

.search-height{
  height: 64px;
}

.fixed{
  top: 10%;
  height: 100%;
  position: fixed;
}
.scroll{
  position: relative;
  top: 150vh;
}
.search_results:hover{
  color: #00e676;
}
.cursor_pointer:hover{
  cursor:pointer;
}
.extralarge{
  border: none;
  padding: 40px;
}

.content_scroll {
  overflow-y: scroll;
  height:300px;
}
/*****************ANIMATION*********************/
.fade {
  transition: 1s linear all;
  -webkit-transition: 1s linear all;
}
.fade.ng-enter {
  opacity: 0;
}
.fade.ng-enter.ng-enter-active {
  opacity: 1;
}
.fade.ng-leave {
  opacity: 1;
}
.fade.ng-leave.ng-leave-active {
  opacity: 0;
}
.top_margin {
  margin-top: 100px;
}
.chriscontainer {
  margin: 100px;
}

.track-container {
  display: flex;
  align-content: center;
}
