/* add custom styles */

body {
  min-width: 1025px !important;
  background: RGBA(25, 25, 25, 1);
}

#navbar-fixed {
  top: 0;
  z-index: 100;
  width: 100%;
  position: fixed;
}

.search-width {
  width: 500px;
}

.margin-center {
  margin: 0 auto;
}

.search-padding{
  margin-left: 100px;
}

.search-height{
  height: 64px;
}

.fixed{
  top: 10%;
  height: 100%;
  position: fixed;
}

.scroll{
  position: relative;
  top: 150vh;
}

.search_results:hover{
  color: #00e676;
}

.cursor_pointer:hover{
  cursor:pointer;
}

.extralarge{
  border: none;
  padding: 40px;
}

.content_scroll {
  overflow-y: scroll;
  height:350px;
}

/*****************ANIMATION*********************/
.fade {
  transition: 1s linear all;
  -webkit-transition: 1s linear all;
}
.fade.ng-enter {
  opacity: 0;
}
.fade.ng-enter.ng-enter-active {
  opacity: 1;
}
.fade.ng-leave {
  opacity: 1;
}
.fade.ng-leave.ng-leave-active {
  opacity: 0;
}
.top_margin {
  margin-top: 100px;
}

.animate-enter,
.animate-leave
{
    -webkit-transition: 400ms cubic-bezier(0.420, 0.000, 1.000, 1.000) all;
    -moz-transition: 400ms cubic-bezier(0.420, 0.000, 1.000, 1.000) all;
    -ms-transition: 400ms cubic-bezier(0.420, 0.000, 1.000, 1.000) all;
    -o-transition: 400ms cubic-bezier(0.420, 0.000, 1.000, 1.000) all;
    transition: 400ms cubic-bezier(0.420, 0.000, 1.000, 1.000) all;
    position: relative;
    display: block;
}

.animate-enter.animate-enter-active,
.animate-leave {
    opacity: 1;
    top: 0;
    height: 30px;
}

.animate-leave.animate-leave-active,
.animate-enter {
    opacity: 0;
    top: -50px;
    height: 0px;
}
